#header {
    margin-top: 5vh;
    display: flex;
    max-width: 1000px;
    position: relative;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}

#header h2 {
    font-size: 2rem;
    margin-right: auto !important;
    margin-left: 0 !important;
}

#header nav {
    justify-content: center !important;
    flex-wrap: wrap !important;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

nav span {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    font-family: berkley;
    font-size: 25px;
}

nav.links a {
    font-size: 25px;
    text-decoration: none;
}

nav.links a:not(:first-child) {
    margin-left: 1rem;
}

nav.links a:hover {
    color: red;
}